{{define "body"}}

Hi <strong>{{.Data.Name}}</strong>

<br />

You've start the recovery password procedure at <strong>{{.Data.CreatedAt}}</strong>.

<br />

Click here for reset the password

<br />

<a href="{{.Data.Url}}">Reset password</a>
{{end}}




