{{define "body"}}

Hi <strong>{{.Data.User.Name}}</strong>

<br />

You are invited to join to <strong>{{.AppName}}</strong>

<br />

Before start using the platform please follow the link below:

<br />

<a href="{{.Data.Url}}">Join</a>

{{end}}


